<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @reply_to.email %>
</p>

<p>
  <b>Confirmed:</b>
  <%= @reply_to.confirmed %>
</p>

<p>
  <b>Active:</b>
  <%= @reply_to.active %>
</p>


<%= link_to 'Edit', edit_reply_to_path(@reply_to) %> |
<%= link_to 'Back', reply_tos_path %>
